body{
    font-family: 'Oswald', sans-serif;
}
.about{
    height: 100vh;
    background-image: url("about.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    margin: 0;

}

.about h2{
    text-align: center;
    padding-top: 140px;
    color: #088d9c;
}

.about h5{
    text-align: center;
    color: #088d9c;
}

.price{
    height: 100vh;
    background-color: red;
}

@media screen and (max-device-width: 560px){

    .about h2{
        font-size: 5vw;
        padding-top: 340px;
    }
    .about h5{
        font-size: 3vw;
    }

}
@media screen and (max-width: 560px) {

    .about h2{
        font-size: 5vw;
    }
    .about h5{
        font-size: 3vw;
    }

}
